@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Fira+Code&family=Noto+Sans&family=Racing+Sans+One&display=swap');

.App {
	/* width: 100vh; */
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #915f6d;
	font-family: 'DM Sans', sans-serif;
}

.heading {
	font-size: 40px;
	margin: 30px 0;
	color: white;
	z-index: 1;
	text-align: center;
}

@media (max-width: 800px) {
	.heading {
		font-size: 40px;
		margin: 15px, 0;
		color: white;
		font-size: 35px;
	}
}
